@use './../../assets/scss/variables.scss' as *;
.loader {
  text-align: center;
  font-size: 1.125rem;
  padding: 1.25rem;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  max-width: 82.5rem;
  &__spinner {
    border: 4px solid $grey;
    border-top: 4px solid $primary-color;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 2s linear infinite;
    margin-bottom: 0.625rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
