@use "./../../assets/scss/variables.scss" as *;
.error-message {
  background-color: $error-background;
  border: 1px solid $error-border;
  color: $secondary-color;
  margin-top: 20px;
  padding: 10px;
  margin-block: 16px;
  width: 100%;
  max-width: max-content;
}
