@use "./../../assets/scss/variables.scss" as *;
.error-message {
  background-color: $error-background;
  border: 1px solid $error-border;
  color: $secondary-color;
  margin-top: 1.25rem;
  padding: 0.625rem;
  margin-block: 1rem;
  width: 100%;
  max-width: max-content;
}
